# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de entorno
.env

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Archivos de build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints